* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared Styles */
.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.btn {
    background-color: #4CAF50;
    border: none;
    padding: 12px 24px;
    border-radius: 6px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

/* Navbar Section */
header {
    background-color: #ffffff;
    padding: 20px 0;
}

nav .nav-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo img {
    height: 40px;
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 40px;
    align-items: center;
}

nav .menu a {
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    text-decoration: none;
}